main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    padding: 2rem 5%;
}

section h1 {
    text-align: center;
    color: #212529;
    font-size: 2.5rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

table {
    width: 90%;
    max-width: 800px;
    margin: 1.1rem auto 5rem;
    color: #212529;
    background: #f0ede5;
    border-radius: 1rem;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #1f3f74;
    color: #eee8df;
    padding: 15px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

td {
    text-align: left;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid rgba(74, 79, 91, 0.374);
    letter-spacing: 1px;
    color: #212529;
}

tbody tr:hover {
    background-color: #b7c3e8a7;
    transition: 0.3s;
}

.Credit {
    text-align: center;
    font-weight: bold;
}